.servicios{
    &__img{
        object-fit: cover;
        width: 100%;
        @include desktop(){
            width: 500px;
        }
        &-div{
            animation-name: img-animation;
            animation-duration: 1s;
            @keyframes img-animation {
                0%{
                    transform: translateX(-1000px);
                }
            }
            @include tablet(){
                @include flex-center();
            }
            @include desktop(){
                @include flex-center();
                }
        }
    }
    &__principal{
        line-height: 1.5rem;
        padding: 1em;
        @include tablet(){
            @include grid2-1();
        }
        @include desktop(){
            @include grid2-1();
        }
        div{
            padding: 1em 0;
            @include tablet(){
                padding: 1em;
            }
            @include desktop(){
                padding: 1em;
            }
        }
    }
    &__title{
        font-size: 2rem;
        padding-bottom: .5em;
        text-align: center;
        @include tablet(){
            text-align: center;
        }
        @include desktop(){
            text-align: center;
        }
    }
    &__p{
        text-align: justify;
        font-size: 1rem;
    }
    &__final{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: .5em;
        @include tablet(){
            @include grid2-1();
        }
        @include desktop(){
            display: grid;
            grid-template-columns: 30% 70%;
            padding:1em 15%;
        }
        h3{
            text-align: center;
            padding-top: .5em;
        }
        p{
            text-align: justify;
            padding: .5em 0;
        }
    }
}

.delitos{
    @include tablet(){
        @include grid2-1();
        gap: 20px;
        padding-top: 2em;
    }
    @include desktop(){
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
li{
    list-style: inside;
    padding-left: 1em;
    font-size: 1.25rem;
}
}

.separador{
&__delitos{
    background-color: $color1;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    @include tablet(){
        @include grid2-1();
    }
    @include desktop(){
        @include grid2-1();
    }
}
&__title{
    @include tablet(){
        width: 100%;
    }
    @include desktop(){
        margin: auto;
        padding-left: 5em;
        padding-right: 3em;
    }
    h4{
        display: flex;
        justify-content: center;
        font-size: 3rem;
        padding-bottom: .3em;
        @include tablet (){
            padding-top: 2em;
        }
    }
    h5{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        @include tablet(){
            padding-top:2em ;
        }
    }
}
&__list{
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    li{
        list-style: inside;
        padding-bottom: .5em;
    }
}
}
.final{
    &__img{
        width: 100%;
        object-fit: cover;
    }
    &__figure{
        @include tablet(){
            @include flex-center();
        }
        @include desktop(){
            @include flex-center();
        }
    }
    &__article{
       @include tablet(){
        padding: 1em;
       } 
       @include desktop(){
        padding: 1em;
       }
       h3,p{
        @include desktop(){
            display: flex;
            justify-content: center;
            text-align: justify;
            }
        }
    }
}