.header{
    background-color: $color1;
    padding: 1em;
    font-size: 1rem;
    box-shadow: 0 2px 1px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    z-index: 999;
    @include desktop(){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .3em;
    }
    &__container{
        @include flex-center();
        flex-direction: column;
        
        h1{
            font-size: 1.5rem;
            margin: auto;
            @include tablet(){
                font-size: 2rem;
                margin: auto;
            }
            @include desktop(){
                font-size: 2rem;
                margin: auto;
            }
        }
        
        img{
            height: 50px;
            @include desktop(){
                height: 60px;
            }
        }

        span{
            color: $color2;
            font-family: 'satisfy',cursive;
            font-weight: 100;
        }
    }
    &__title{
        color: $color3;
        font-size: 1.5rem;
        font-family: 'satisfy',cursive;
        font-weight: 100;
    }
}

.nav{
    &__input{
        display: none;
        &:checked + .nav__list{
        clip-path: circle(100% at center);
        }
    }
    &__label{
        display: block;
        cursor: pointer;
        @include desktop(){
            display: none;
        }

    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        padding-left: 0;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        position: fixed;
        top:80px;
        bottom: -20px;
        left: 0;
        background-color: $color1;
        @include desktop(){
            clip-path: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            position: unset;
            margin: auto;
            padding-right: 1em;
        }
    &-item{
        text-align: center;
        font-size: 1.2rem;
        padding: .3em;
        &:hover{
            @include desktop(){
                transform: scale(1.1);
            }
        }
        a{
            color: white;
            text-decoration: none;
        }
        a:hover{
            color: $color2;
        }
    }
}
}
