* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-top: 82px;
}
@media (min-width: 1200px) {
  main {
    margin-top: 70px;
  }
}

.header {
  background-color: #141414;
  padding: 1em;
  font-size: 1rem;
  box-shadow: 0 2px 1px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  z-index: 999;
}
@media (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
  }
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__container h1 {
  font-size: 1.5rem;
  margin: auto;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .header__container h1 {
    font-size: 2rem;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .header__container h1 {
    font-size: 2rem;
    margin: auto;
  }
}
.header__container img {
  height: 50px;
}
@media (min-width: 1200px) {
  .header__container img {
    height: 60px;
  }
}
.header__container span {
  color: #ff2e2f;
  font-family: "satisfy", cursive;
  font-weight: 100;
}
.header__title {
  color: #f8f500;
  font-size: 1.5rem;
  font-family: "satisfy", cursive;
  font-weight: 100;
}

.nav__input {
  display: none;
}
.nav__input:checked + .nav__list {
  clip-path: circle(100% at center);
}
.nav__label {
  display: block;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .nav__label {
    display: none;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 0;
  align-items: center;
  clip-path: circle(0 at center);
  transition: clip-path 500ms ease-in-out;
  position: fixed;
  top: 80px;
  bottom: -20px;
  left: 0;
  background-color: #141414;
}
@media (min-width: 1200px) {
  .nav__list {
    clip-path: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    position: unset;
    margin: auto;
    padding-right: 1em;
  }
}
.nav__list-item {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.3em;
}
@media (min-width: 1200px) {
  .nav__list-item:hover {
    transform: scale(1.1);
  }
}
.nav__list-item a {
  color: white;
  text-decoration: none;
}
.nav__list-item a:hover {
  color: #ff2e2f;
}

footer {
  background-color: #141414;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding: 1em;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .footer__logo {
    width: 100%;
  }
}
.footer__logo img {
  width: 50%;
  max-width: 200px;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .footer__logo img {
    width: 100%;
    max-height: 200px;
  }
}

.footer__contacto {
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.footer__contacto i {
  padding: 0.2em;
}
.footer__contacto i a {
  text-decoration: none;
  color: white;
}

.social {
  padding: 1.5em;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
.social a {
  text-decoration: none;
  color: white;
}

.bi-facebook:hover {
  color: #4267b2;
}

.bi-instagram:hover {
  color: #c13584;
}

.bi-twitter:hover {
  color: #1da1f2;
}

.banner {
  width: 100%;
  min-height: 300px;
  background-image: url(../img/fondo-slide.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: banner;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes banner {
  0% {
    transform: translateY(-1000px);
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .banner {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .banner {
    height: 400px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: banner;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
}

.principal {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .principal {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.article__principal {
  padding: 1em 0.5em;
  width: 100%;
}
.article__principal h3 {
  display: flex;
  justify-content: center;
}
.article__principal p {
  text-align: center;
}
.article__img {
  text-align: center;
  flex-wrap: wrap;
}
.article__img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.tel__fondo {
  height: 400px;
  background-image: url(../img/fondo-tel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tel__secundario {
  background-color: rgba(32, 32, 32, 0.8);
  width: 90%;
  height: 90%;
  text-align: center;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .tel__secundario p {
    text-align: center;
    align-items: center;
  }
}
.tel__secundario span {
  font-size: 4rem;
  color: #ff2e2f;
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .tel__secundario span {
    padding: 1em;
  }
}

.servicios__img {
  object-fit: cover;
  width: 100%;
}
@media (min-width: 1200px) {
  .servicios__img {
    width: 500px;
  }
}
.servicios__img-div {
  animation-name: img-animation;
  animation-duration: 1s;
}
@keyframes img-animation {
  0% {
    transform: translateX(-1000px);
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .servicios__img-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .servicios__img-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.servicios__principal {
  line-height: 1.5rem;
  padding: 1em;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .servicios__principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .servicios__principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.servicios__principal div {
  padding: 1em 0;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .servicios__principal div {
    padding: 1em;
  }
}
@media (min-width: 1200px) {
  .servicios__principal div {
    padding: 1em;
  }
}
.servicios__title {
  font-size: 2rem;
  padding-bottom: 0.5em;
  text-align: center;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .servicios__title {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .servicios__title {
    text-align: center;
  }
}
.servicios__p {
  text-align: justify;
  font-size: 1rem;
}
.servicios__final {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .servicios__final {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .servicios__final {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 1em 15%;
  }
}
.servicios__final h3 {
  text-align: center;
  padding-top: 0.5em;
}
.servicios__final p {
  text-align: justify;
  padding: 0.5em 0;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .delitos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 2em;
  }
}
@media (min-width: 1200px) {
  .delitos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
.delitos li {
  list-style: inside;
  padding-left: 1em;
  font-size: 1.25rem;
}

.separador__delitos {
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .separador__delitos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .separador__delitos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .separador__title {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .separador__title {
    margin: auto;
    padding-left: 5em;
    padding-right: 3em;
  }
}
.separador__title h4 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding-bottom: 0.3em;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .separador__title h4 {
    padding-top: 2em;
  }
}
.separador__title h5 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .separador__title h5 {
    padding-top: 2em;
  }
}
.separador__list {
  width: 100%;
  padding-top: 1em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.separador__list li {
  list-style: inside;
  padding-bottom: 0.5em;
}

.final__img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .final__figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .final__figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .final__article {
    padding: 1em;
  }
}
@media (min-width: 1200px) {
  .final__article {
    padding: 1em;
  }
}
@media (min-width: 1200px) {
  .final__article h3, .final__article p {
    display: flex;
    justify-content: center;
    text-align: justify;
  }
}

.carousel__div {
  width: 100%;
  margin: auto;
  padding: 1em;
}
@media (min-width: 1200px) {
  .carousel__div {
    width: 70%;
  }
}
.carousel__img {
  height: 400px;
  object-fit: cover;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .carousel__img {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .carousel__img {
    height: 600px;
  }
}

.aboutus {
  padding: 2em;
}
@media (min-width: 1200px) {
  .aboutus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.aboutus__title {
  text-align: center;
  font-size: 2em;
}
@media (min-width: 1200px) {
  .aboutus__title {
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  .aboutus__title div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.aboutus__text {
  line-height: 2em;
  text-align: justify;
}
.aboutus__logo {
  display: none;
}
@media (min-width: 1200px) {
  .aboutus__logo {
    width: 25%;
    height: 25%;
  }
}

.news {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}
@media (min-width: 1200px) {
  .news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }
}
.news__article {
  background-color: white;
  width: 100%;
  margin: 0.5em 0;
  padding-bottom: 1em;
  flex-wrap: wrap;
  box-shadow: 0 2px 1px;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .news__article {
    box-shadow: 0 2px 1px;
  }
}
.news__title {
  text-align: center;
  padding: 1em 0;
  font-size: 1.5em;
}
.news__text {
  padding: 0 1em;
}
.news__img {
  width: 100%;
}
.news__img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.news__more {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  padding: 1em;
}

.title__contacto {
  text-align: center;
  padding: 1em;
}
.title__contacto h1 {
  padding-top: 1em;
  text-transform: uppercase;
}
.title__contacto h2 {
  font-size: 1.5rem;
  margin: auto;
}

.form {
  display: flex;
  justify-content: center;
  padding: 1em 3em;
  width: 100%;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .form {
    display: block;
    margin: auto;
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .form {
    display: block;
    margin: auto;
    max-width: 800px;
  }
}
.form__contacto {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__contacto input {
  padding: 1em;
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid black;
}
.form__contacto input:focus {
  outline: none;
}
.form__contacto textarea {
  border: 1px solid black;
  padding: 1em;
  margin: 20px 0;
  resize: none;
}
.form__contacto textarea:focus {
  outline: none;
}

.btn__enviar {
  background-color: #141414;
  border: 0;
  color: white;
  width: 200px;
  align-self: center;
}
.btn__enviar:hover {
  background-color: #ff2e2f;
  box-shadow: 0 0 5px;
  color: #141414;
}

.mapa {
  width: 100%;
  padding: 3em 1em;
  display: flex;
  justify-content: center;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .mapa iframe {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .mapa iframe {
    width: 500px;
    height: 500px;
  }
}

/*# sourceMappingURL=styles.css.map */
