* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-top: 82px;
}

.header {
  background-color: #141414;
  padding: 1em;
  font-size: 1rem;
  box-shadow: 0 2px 1px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__container h1 {
  font-size: 1.5rem;
  margin: auto;
}
.header__container img {
  height: 50px;
}
.header__container span {
  color: #ff2e2f;
  font-family: "satisfy", cursive;
  font-weight: 100;
}
.header__title {
  color: #f8f500;
  font-size: 1.5rem;
  font-family: "satisfy", cursive;
  font-weight: 100;
}

.nav__input {
  display: none;
}
.nav__input:checked + .nav__list {
  clip-path: circle(100% at center);
}

.nav__label {
  display: block;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 0;
  align-items: center;
  clip-path: circle(0 at center);
  transition: clip-path 1s ease-in-out;
  position: fixed;
  top: 80px;
  bottom: -20px;
  left: 0;
  background-color: color1;
}
.nav__list-item {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.3em;
}
.nav__list-item a {
  color: white;
  text-decoration: none;
}
.nav__list-item a:hover {
  color: #ff2e2f;
}

footer {
  background-color: #141414;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.footer__logo img {
  width: 50%;
  max-width: 200px;
}

.footer__contacto {
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.footer__contacto i {
  padding: 0.2em;
}
.footer__contacto i a {
  text-decoration: none;
  color: white;
}

.social {
  padding: 1.5em;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
.social a {
  text-decoration: none;
  color: white;
}

.bi-facebook:hover {
  color: #4267b2;
}

.bi-instagram:hover {
  color: #c13584;
}

.bi-twitter:hover {
  color: #1da1f2;
}

.banner {
  width: 100%;
  min-height: 300px;
  background-image: url(../../img/fondo-slide.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article__principal {
  padding: 1em 0.5em;
  width: 100%;
}
.article__principal figure {
  text-align: center;
  flex-wrap: wrap;
}
.article__principal h3 {
  display: flex;
  justify-content: center;
}
.article__principal p {
  text-align: center;
}

.article__img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.tel__fondo {
  height: 400px;
  background-image: url(../../img/fondo-tel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tel__secundario {
  background-color: rgba(32, 32, 32, 0.8);
  width: 90%;
  height: 90%;
  text-align: center;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tel__secundario span {
  font-size: 4rem;
  color: #ff2e2f;
  display: flex;
  justify-content: center;
}

.servicios__img {
  object-fit: cover;
  width: 100%;
}
.servicios__principal {
  line-height: 1.5rem;
  padding: 1em;
}
.servicios__principal div {
  padding: 1em 0;
}
.servicios__title {
  font-size: 2rem;
  padding-bottom: 0.5em;
}
.servicios__p {
  text-align: justify;
  font-size: 1rem;
}
.servicios__final {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.servicios__final h3 {
  text-align: center;
  padding-top: 0.5em;
}
.servicios__final p {
  text-align: justify;
  padding: 0.5em 0;
}

.delitos li {
  list-style: inside;
  padding-left: 1em;
  font-size: 1.25rem;
}

.separador__delitos {
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.separador__title h4 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding-bottom: 0.3em;
}
.separador__title h5 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}
.separador__list {
  width: 100%;
  padding-top: 1em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.separador__list li {
  list-style: inside;
  padding-bottom: 0.5em;
}

.final__img {
  width: 100%;
  object-fit: cover;
}

.carousel__div {
  width: 100%;
  margin: auto;
  padding: 1em;
}
.carousel__img {
  height: 400px;
  object-fit: cover;
}

.aboutus {
  padding: 2em;
}
.aboutus__title {
  text-align: center;
  font-size: 2em;
}
.aboutus__text {
  line-height: 2em;
  text-align: justify;
}
.aboutus__logo {
  display: none;
}

.news {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.news__article {
  background-color: white;
  width: 100%;
  margin: 0.5em 0;
  padding-bottom: 1em;
  flex-wrap: wrap;
  box-shadow: 0 2px 1px;
}
.news__title {
  text-align: center;
  padding: 1em 0;
}
.news__text {
  padding: 0 1em;
}
.news__img {
  width: 100%;
}
.news__img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.news__more {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  padding: 1em;
}

.tittle__contacto {
  text-align: center;
  padding: 1em;
}
.tittle__contacto h1 {
  padding-top: 1em;
  text-transform: uppercase;
}
.tittle__contacto h2 {
  font-size: 1.5rem;
  margin: auto;
}

.form {
  display: flex;
  justify-content: center;
  padding: 1em 3em;
  width: 100%;
}
.form__contacto {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__contacto input {
  padding: 1em;
  margin: 20px 0;
  box-shadow: 0 0 5px;
}
.form__contacto input:focus {
  outline: none;
}
.form__contacto textarea {
  padding: 1em;
  margin: 20px 0;
  box-shadow: 0 0 5px;
  resize: none;
}
.form__contacto textarea:focus {
  outline: none;
}

.btn__enviar {
  background-color: #141414;
  border: 0;
  color: white;
  width: 200px;
  align-self: center;
}
.btn__enviar:hover {
  background-color: #ff2e2f;
  box-shadow: 0 0 5px;
  color: #141414;
}

.mapa {
  width: 100%;
  padding: 3em 1em;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
